*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
}

#vid{
    max-width: 300px;
    max-height: 500px;
}

#title{
    text-align: center;
}

#buttons{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

button{
    width: 50px;
    height:50px;
    border: none;
    border-radius: 50%;
    background-color: aquamarine;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:5px;
}
img{
    width:50%;
    height:50%;
}

button:hover{
    cursor:pointer;
    box-shadow: grey 0 0 3px 3px;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}



#myCanvas{
    text-align: center;
    border-radius: 20px;
}